pyrogram
 tgcrypto 
 pymongo[srv]
 motor
 marshmallow
 umongo
 requests 
 bs4 
 git+https://github.com/Joelkb/cinemagoer 
 shortzy 
 datetime 
 pytz 
 aiohttp

#---master---# 
 #Telethroid
 PyLeaves
  Wikipedia
  
 
 #---ytdl----# 
 ffmpeg
youtube_search
youtube-search-python
yt-dlp
youtube-dl
requests 
  
openai==0.25.0
  
 #---others----# 
 opencv-python-headless==4.7.0.68 
 googletrans==3.1.0a0 
 telegraph==2.2.0 
 python-dotenv==0.21.1 
 gTTS==2.3.1 
 speedtest==0.0.1 
 humanize
 Pillow
 psutil
 NumPy 
 wheel 
 ujson 
 wget 
 pytz
 aiofiles
 dnspython
 ### googletrans==4.0.0-rc1 ###
python-decouple
ffmpeg-python>=0.2.0
ytthumb

jinja2
apscheduler
pyshorteners
pyromod
colorama



  
